body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-decoration: none;
    background: linear-gradient(to left, #dacbf0, #ffffff);
}

#holder {
    margin-top: 25px;
    text-align: center;
    height: auto;
}

.item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(7, 7, 7, 0.12);
    font-size: 17px;
    font-weight: bold;
    color: #480f4d;
    text-decoration: none;
}

.item:hover {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

#add {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#add:hover {
    background-color: #131212;
}

#inID {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#inID:hover {
    background-color: #eef1eb;
}