* {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}

body {
    background-color: #ffffff;
}

#top{
    padding-top:10px;
    background-color: rgb(224, 202, 244);
    height: 50px;
    text-align: center;
}

#holder {
    margin-top: 10px;
    text-align: center;
    height: auto;
}

.item{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    margin-top: 10px;
    width: 80%;
    color:rgb(44, 2, 79);
    background-color: rgb(198, 177, 218);
    box-shadow: 2px 16px 39px -3px rgba(0,0,0,0.20);
    border-radius: 3px;
}

#add{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.inside{
    padding-top: 3px;
}